@charset "UTF-8";

.footer .left{
	float:left;
}
.footer .right{
	float:right;
}
.footer {
	color:#aaaba6;
	background-color: #292626;
}
.footer a:link {
	color:#aaaba6;
}
.footer a:visited {
	color:#aaaba6;
}