@charset "UTF-8";

#footer {
	width:100%;
	margin:0 auto;
	border-top:1px solid #e2e5e4;
}

#footer footer .top {
	height:50px;
	line-height:50px;
}

#footer footer .top .inner {
	width:1300px;
	margin:0 auto;
}
#footer footer .top .inner a{
	display: inline-block;
	color:#aaaba6;
	letter-spacing: -0.025em;
}

#footer footer .btm {
	height:430px;
}

#footer footer .btm .left{
	float:left;
	width:50%;
	height:100%;
	padding-top:80px;
	padding-left:310px;
	background-color:#353131;
	box-sizing:border-box;
}

#footer footer .btm .left .company_name{
	margin-bottom:30px;
	color:#aaaba6;
	line-height: 1;
	letter-spacing: -0.025em;
}

#footer footer .btm .left .company_info {
	margin-bottom:35px;
	color:#aaaba6;
	line-height: 1.5;
	letter-spacing: -0.025em;
}

#footer footer .btm .left .copyright{
	margin-bottom: 35px;
	color:#aaaba6;
	line-height: 1;
	letter-spacing: -0.025em;
}

#footer footer .btm .right {
	float: left;
	width: 50%;
	height:100%;
	padding-top:80px;
	background-color:#292626;
	box-sizing: border-box;
}

#footer footer .btm .right > div:nth-child(1){
	float: left;
	margin-right: 60px;
	padding-left: 94px;
	padding-right: 60px;
	border-right: 1px solid #6a6966;
}
#footer footer .btm .right > div:nth-child(1) p:nth-child(1){
	margin-bottom: 30px;
	font-size: 16px;
	color:#aaaba6;
	line-height: 1;
	letter-spacing: -0.025em;
}
#footer footer .btm .right > div:nth-child(1) p:nth-child(2){
	margin-bottom: 25px;
	color:#aaaba6;
	font-size: 48px;
	line-height: 1;
	letter-spacing: -0.025em;
}
#footer footer .btm .right > div:nth-child(1) p:nth-child(3){
	margin-bottom: 27px;
	color:#aaaba6;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: -0.025em;
}
#footer footer .btm .right > div:nth-child(1) p:nth-child(3) span{
	display: inline-block;
	width: 1px;
	height: 11px;
	margin:0 9px;
	background-color: #6a6966;
	vertical-align: middle;
}
#footer footer .btm .right > div:nth-child(1) p:nth-child(3) em{
	display: block;
	padding-top: 10px;
	font-size:12px;
	line-height: 1;
}
#footer footer .btm .right > div:nth-child(1) div a{
	display: inline-block;
	color:#aaaba6;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.025em;
}
#footer footer .btm .right > div:nth-child(2){
	float: right;
}
#footer footer .btm .right > div:nth-child(2) p:nth-child(1){
	margin-bottom: 36px;
	font-size: 16px;
	color: #aaaba6;
	line-height: 1;
	letter-spacing: -0.025em;
}
#footer footer .btm .right > div:nth-child(2) p:nth-child(2){
	margin-bottom: 57px;
	font-size: 14px;
	color: #aaaba6;
	line-height: 1.5;
	letter-spacing: -0.025em;
}
#footer footer .btm .right > div:nth-child(2) p:nth-child(2) span{
	display: inline-block;
	width: 1px;
	height: 11px;
	margin:0 9px;
	color:#aaaba6;
	vertical-align: middle;
}
#footer footer .btm .right > div:nth-child(2) div a{
	display: block;
	margin-bottom: 12px;
	font-size: 16px;
	color: #aaaba6;
	line-height: 1;
	letter-spacing: -0.025em;
}